{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

	{% from "macros.html" import card with context %}

	{{ card("Portfolio Value", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-gray-800">$' + format.number(portfolio['value']) + '</div><div class="h7 mb-0 font-weight-bold" style="color: transparent">.</div>', "database") }}

	{{ card("Net gain", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-'+format.color(portfolio['netGain'])+'">'+format.sign(portfolio['netGain'])+'$'+format.number(portfolio['netGain'])+'</div><div class="h7 mb-0 font-weight-bold text-'+format.color(portfolio['netGainPercentage'])+'">'+format.sign(portfolio['netGainPercentage'])+format.number(portfolio['netGainPercentage'])+'%</div>', "chart-line") }}

	{{ card("Day gain", "primary", "col-xl-2 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-'+format.color(portfolio['dayGain'])+'">'+format.sign(portfolio['dayGain'])+'$'+format.number(portfolio['dayGain'])+'</div><div class="h7 mb-0 font-weight-bold text-'+format.color(portfolio['dayGainPercentage'])+'">'+format.sign(portfolio['dayGainPercentage'])+format.number(portfolio['dayGainPercentage'])+'%</div>', "calendar-day") }}

	{{ card("Cost", "primary", "col-xl-2 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-gray-800">$'+format.number(user.data.portfolio.cost)+'</div><div class="h7 mb-0 font-weight-bold" style="color: transparent">.</div>', "dollar-sign") }}

	{{ card("Cash", "primary", "col-xl-2 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-gray-800">$'+format.number(user.data.portfolio.cash)+'</div><div class="h7 mb-0 font-weight-bold" style="color: transparent">.</div>', "money-bill") }}
</div>

<!-- Content Row -->

<div class="row">
	<!-- Growth Chart -->
	<div class="col-xl-8 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Portfolio Growth</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="chart-area">
					<canvas id="myAreaChart"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- Stock Distribution -->
	<div class="col-xl-4 col-lg-5">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Stock Distribution</h6>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<div class="chart-pie pt-4 pb-2">
					<canvas id="myPieChart"></canvas>
				</div>
				<div class="mt-4 text-center small">
					<span class="mr-2"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->
<div class="row">

	<!-- Stock Table -->
	<div class="col-xl-12 col-xl-6">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<div>
					<h6 style="display: inline" class="m-0 font-weight-bold text-primary">Stocks Data</h6>
					<button style="display: inline;"
						class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"
						id="toggle">ShowLots</button>
				</div>
			</div>
			<div class="card-body">
				<hr>
				<style>
					.dataTables_filter {
						display: none;
					}
				</style>
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>SYMBOL</th>
								<th>SHARES</th>
								<th>PRICE</th>
								<th>CHANGE</th>
								<th>NET GAIN</th>
								<th>1D GAIN</th>
								<th>OPEN</th>
								<th>CLOSE</th>
								<th>VOLUME</th>
								<th>MARKET CAP</th>
							</tr>
						</thead>
						<tbody>
							{% for stock in portfolio['stocks'] %}
							<tr>
								<td><b>{{ stock['ticker'] }}</b></td>
								<td>{{ format.number(stock['totalStake']) }}</td>
								<td>${{ format.number(stock['price']) }}</td>
								<td class="text-{{ format.color(stock['change']) }}">
									{{ format.sign(stock['change']) }}${{ format.number(stock['change']) }}
									({{ format.sign(stock['changePercentage']) }}{{ format.number(stock['changePercentage']) }}%)
								</td>
								<td class="text-{{ format.color(stock['netGain']) }}">
									{{ format.sign(stock['netGain']) }}${{ format.number(stock['netGain']) }}
									({{ format.sign(stock['netGainPercentage']) }}{{ format.number(stock['netGainPercentage']) }}%)
								</td>
								<td class="text-{{ format.color(stock['dayGain']) }}">
									{{ format.sign(stock['dayGain']) }}${{ format.number(stock['dayGain']) }}
									({{ format.sign(stock['dayGainPercentage']) }}{{ format.number(stock['dayGainPercentage']) }}%)
								</td>
								<td>${{ format.number(stock['open']) }}</td>
								<td>${{ format.number(stock['close']) }}</td>
								<td>{{ format.number(stock['volume']) }}</td>
								<td>${{ format.number(stock['marketCap']) }}</td>
							</tr>

							{% for lot in stock['lots'] %}
							<tr>
								<td>{{ format.time(lot['time']) }}</td>
								<td>{{ format.sign(lot['shares']) }}{{ format.number(lot['shares']) }}</td>
								<td>${{ format.number(lot['price']) }}</td>
								<td>-</td>
								<td class="text-{{ format.color(lot['netGain']) }}">
									{{ format.sign(lot['netGain']) }}${{ format.number(lot['netGain']) }}</td>
								<td class="text-{{ format.color(lot['dayGain']) }}">
									{{ format.sign(lot['dayGain']) }}${{ format.number(lot['dayGain']) }}</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							{% endfor %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<span></span>
	<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" download>
		<span class="fas fa-download fa-sm text-white-50"></span>
		Get JSON data
	</a>
</div>

{% endblock %}

{% block scripts %}

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script>
	const chartData = [{% for i in range(format.len(user.data.history.portfolioValue) - 12, format.len(user.data.history.portfolioValue)) %} {% if i < 0 %}, {% else %} {{ user['data']['history']['portfolioValue'][i].value }}, {% endif %} {% endfor %}];
	const pieLabels = [{% for stock in portfolio['stocks'] %} "{{ stock['ticker']}}", {% endfor %}];
	const pieData = [{% for stock in portfolio['stocks'] %} {{ stock['totalStake'] }} * {{ stock['price'] }}, {% endfor %}];
</script>
<script src="static/vendor/chart.js/Chart.min.js"></script>
<script src="static/js/growth-chart.js"></script>
<script src="static/js/stock-pie.js"></script>
<script src="static/js/stock-table.js"></script>

{% endblock %}