{% extends "layout.html" %}

{% block title %}{{ ticker }}{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">{{ ticker }} - {{ data['shortName'] }}</h1>
</div>

<!-- Content Row -->
{% from "macros.html" import card with context %}
<div class="row">
	{{ card("Price", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-gray-800">'+format.number(data['regularMarketPrice'])+'</div>', "database") }}
	{{ card("Open", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">'+format.number(data['regularMarketOpen'])+'</div>', "dollar-sign") }}
	{{ card("Close", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">'+format.number(data['previousClose'])+'</div>', "dollar-sign") }}
	{{ card("Volume", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">'+format.number(data['regularMarketVolume'])+'</div>', "dollar-sign") }}
</div>

<div class="row">
	{{ card("Market Cap", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-gray-800">'+format.number(data['marketCap'])+'</div>', "dollar-sign") }}
	{{ card("Bid", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">'+format.number(data['bid'])+'</div>', "dollar-sign") }}
	{{ card("Ask", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">'+format.number(data['ask'])+'</div>', "dollar-sign") }}
	{{ card("StockSim Score", "primary", "col-xl-3 col-md-6 mb-4", '<div class="h5 mb-0 font-weight-bold text-success">95%</div>', "dollar-sign") }}
</div>

<!-- Content Row -->

<div class="row">

	<div class="col-xl-9 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Stock Growth</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Scope:</div>
						<button class="dropdown-item" onclick="refreshChart('year')">Year</button>
						<button class="dropdown-item" onclick="refreshChart('month')">Month</button>
						<button class="dropdown-item" onclick="refreshChart('fiveDay')">5D</button>
						<button class="dropdown-item" onclick="refreshChart('oneDay')">Day</button>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<style>
					canvas {
						-moz-user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;
					}
				</style>
				<div>
					<canvas id="chart1"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3">
		<!-- Stake -->
		<div class="row">
			{{ card("Stake", "primary", "col mb-5", '<div class="h5 mb-0 font-weight-bold text-success">' + format.str(0 if ticker not in user.data.portfolio.stocks.keys() else user.data.portfolio.stocks[ticker].totalStake) + ' shares</div>', "dollar-sign") }}
		</div>

		<style>
			.btn-block {
				padding: 2.25rem;
			}
		</style>

		<script>
			$(document).ready(function () {
				$("#buy-form").hide();
				$("#sell-form").hide();

				$("#buyButton").on("click", function (event) {
					$('#optionButtons').hide();
					$("#buy-form").show();
				});

				$("#sellButton").on("click", function (event) {
					$('#optionButtons').hide();
					$("#sell-form").show();
				});
			});
		</script>

		<div id="optionButtons">
			<div class="row">
				<div class="col mb-5">
					<button class="btn btn-outline-success btn-lg btn-block" id="buyButton">Buy</button>
				</div>
			</div>
			<div class="row">
				<div class="col mb-5">
					<button class="btn btn-outline-danger btn-lg btn-block" id="sellButton">Sell</button>
				</div>
			</div>
		</div>

		{% from "macros.html" import input_slider_pair with context %}
		{% from "macros.html" import range_slider_pair with context %}

		<div id="buy-form">
			<style>
				form {
					max-width: 900px;
					display: block;
					margin: 0 auto;
				}
			</style>

			<form id="stockForm" method="POST">
				<input readonly value="BUY" name="action" style="display: none;">

				{{ input_slider_pair("buyShares", "min", limits[0], limits[1], (limits[0] + limits[1]) / 2 - ((limits[0] + limits[1]) % 2 * 0.5)) }}

				{{ range_slider_pair("buyRange", limits[4], limits[5]) }}

				<button class="btn btn-outline-success btn-lg" type="submit">Buy</button>
			</form>
		</div>

		<div id="sell-form">
			<style>
				form {
					max-width: 900px;
					display: block;
					margin: 0 auto;
				}
			</style>

			<form id="stockFormS" method="POST">
				<input readonly value="BUY" name="action" style="display: none;">

				{{ input_slider_pair("sellShares", "min", limits[2], limits[3], (limits[2] + limits[3]) / 2 - ((limits[2] + limits[3]) % 2 * 0.5)) }}

				{{ range_slider_pair("sellRange", limits[4], limits[5]) }}

				<button class="btn btn-outline-success btn-lg" type="submit">Buy</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
	const ticker = "{{ ticker }}";
	const chartData = {
		year: {{ chartData['year'] }},
		month: {{ chartData['month'] }},
		fiveDay: {{ chartData['fiveDay'] }},
		oneDay: {{ chartData['oneDay'] }}
	};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="static/vendor/chart.js/Chart.min.js"></script>
<script src="static/js/time-series.js"></script>

<!-- Page level custom scripts -->
<!--<script src="static/js/demo/chart-area-demo.js"></script>-->

{% endblock %}