{% extends "layout.html" %}

{% block title %}{{ ticker }}{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">{{ ticker }} - {{ data['shortName'] }}</h1>
</div>

<!-- Content Row -->
<div class="row">

	<!-- PRICE -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Price</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">
							${{ format.number(data['regularMarketPrice']) }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-database fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- OPEN -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open
						</div>
						<div class="h5 mb-0 font-weight-bold text-success">
							${{ format.number(data['regularMarketOpen']) }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CLOSE -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prev
							Close</div>
						<div class="h5 mb-0 font-weight-bold text-success">${{ format.number(data['previousClose']) }}
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- VOLUME -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Volume</div>
						<div class="h5 mb-0 font-weight-bold text-success">
							{{ format.number(data['regularMarketVolume']) }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<!-- MARKET CAP -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							Market Cap</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">${{ format.number(data['marketCap']) }}
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-database fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- BID -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Bid
						</div>
						<div class="h5 mb-0 font-weight-bold text-success">${{ format.number(data['bid']) }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ASK -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ask
						</div>
						<div class="h5 mb-0 font-weight-bold text-success">${{ format.number(data['ask']) }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SCORE -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-bottom-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							StockSim Score</div>
						<div class="h5 mb-0 font-weight-bold text-success">95%</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Row -->

<div class="row">

	<div class="col-xl-9 col-lg-7">
		<div class="card shadow mb-4">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Stock Growth</h6>
				<div class="dropdown no-arrow">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
						aria-labelledby="dropdownMenuLink">
						<div class="dropdown-header">Scope:</div>
						<button class="dropdown-item" onclick="changeUnit('year')">Year</button>
						<button class="dropdown-item" onclick="changeUnit('month')">Month</button>
						<button class="dropdown-item" onclick="changeUnit('week')">Week</button>
						<button class="dropdown-item" onclick="changeUnit('day')">Day</button>
					</div>
				</div>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
				<script src="static/vendor/chart.js/Chart.min.js"></script>
				<style>
					canvas {
						-moz-user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;
					}
				</style>
				<div>
					<canvas id="chart1"></canvas>
				</div>
				<script>

					// This is testing for the chart dropdown menu to view different time intervals/periods
					/*var CURRENT_UNIT = 'year';

					function changeUnit(unit) {
						CURRENT_UNIT = unit;
						var dataset = chart.config.data.datasets[0];
						console.log(generateData());
						dataset.data = generateData();
						chart.update();
					}*/

					var ctx = document.getElementById('chart1').getContext('2d');

					var color = Chart.helpers.color;
					var cfg = {
						data: {
							datasets: [{
								label: "{{ ticker }}",
								backgroundColor: "rgba(78, 115, 223, 0.05)",
								borderColor: "rgba(78, 115, 223, 1)",
								data: {{ chartData }},
						type: 'line',
						pointRadius: 0,
						fill: false,
						lineTension: 0,
						borderWidth: 2
					}]
						},
					options: {
						legend: {
							display: false
						},
						animation: {
							duration: 0
						},
						scales: {
							xAxes: [{
								gridLines: {
									drawOnChartArea: false
								},
								type: 'time',
								distribution: 'series',
								offset: true,
								ticks: {
									major: {
										enabled: true,
										fontStyle: 'bold'
									},
									source: 'data',
									autoSkip: true,
									autoSkipPadding: 75,
									maxRotation: 0,
									sampleSize: 100
								},
								afterBuildTicks: function (scale, ticks) {
									var majorUnit = scale._majorUnit;
									var firstTick = ticks[0];
									var i, ilen, val, tick, currMajor, lastMajor;

									val = moment(ticks[0].value);
									if ((majorUnit === 'minute' && val.second() === 0)
										|| (majorUnit === 'hour' && val.minute() === 0)
										|| (majorUnit === 'day' && val.hour() === 9)
										|| (majorUnit === 'month' && val.date() <= 3 && val.isoWeekday() === 1)
										|| (majorUnit === 'year' && val.month() === 0)) {
										firstTick.major = true;
									} else {
										firstTick.major = false;
									}
									lastMajor = val.get(majorUnit);

									for (i = 1, ilen = ticks.length; i < ilen; i++) {
										tick = ticks[i];
										val = moment(tick.value);
										currMajor = val.get(majorUnit);
										tick.major = currMajor !== lastMajor;
										lastMajor = currMajor;
									}
									return ticks;
								}
							}],
								yAxes: [{
									gridLines: {
										drawOnChartArea: false
									},
								}]
						},
						tooltips: {
							intersect: false,
								mode: 'index',
									callbacks: {
								label: function (tooltipItem, myData) {
									var label = myData.datasets[tooltipItem.datasetIndex].label || '';
									if (label) {
										label += ': ';
									}
									label += parseFloat(tooltipItem.value).toFixed(2);
									return label;
								}
							}
						}
					}
					};

					var chart = new Chart(ctx, cfg);
				</script>
			</div>
		</div>
	</div>
	<div class="col-xl-3">
		<!-- Stake -->
		<div class="row">
			<div class="col mb-5" id="stakeCard">
				<div class="card border-bottom-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									Stake</div>
								<div class="h5 mb-0 font-weight-bold text-success">
									{% if ticker in user.data.portfolio.stocks.keys() %}{{ user.data.portfolio.stocks[ticker].totalStake }}
									{% else %} {{ 0 }} {% endif %} shares</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<style>
			.btn-block {
				padding: 2.25rem;
			}
		</style>

		<script>
			$(document).ready(function () {
				$("#buy-form").hide();
				$("#sell-form").hide();

				$("#buyButton").on("click", function (event) {
					$('#optionButtons').hide();
					$("#buy-form").show();
					$("#stakeCard").attr("class", "col mb-3");
				});

				$("#sellButton").on("click", function (event) {
					$('#optionButtons').hide();
					$("#sell-form").show();
					$("#stakeCard").attr("class", "col mb-3");
				});
			});
		</script>

		<div id="optionButtons">
			<div class="row">
				<div class="col mb-5">
					<button class="btn btn-outline-success btn-lg btn-block" id="buyButton">Buy</button>
				</div>
			</div>
			<div class="row">
				<div class="col mb-5">
					<button class="btn btn-outline-danger btn-lg btn-block" id="sellButton">Sell</button>
				</div>
			</div>
		</div>

		<div id="buy-form">
			<script>
				$(document).ready(function () {
					$(function () {
						$("#sharesSlider").slider({
							range: "min",
							min: {{ limits[0] }},
						max: {{ limits[1] }},
					value: {{ (limits[0] + limits[1]) / 2 - ((limits[0] + limits[1]) % 2 * 0.5) }},
					slide: function (event, ui) {
						$("#sharesRange").val(ui.value);
					}
						});
				$("#sharesRange").val($("#sharesSlider").slider("value"));
					});

				$("#sharesRange").keyup(function () {
					var value = $(this).val();

					if (isNaN(value)) {
						console.log(NaN);
						$(this).val("0");
						return;
					}

					const slider = $("#sharesSlider");
					if (value > slider.slider("option", "max")) {
						slider.slider("value", slider.slider("option", "max"));
						$(this).val(slider.slider("value"));
					}
					else if (value < slider.slider("option", "min")) {
						slider.slider("value", slider.slider("option", "min"));
						$(this).val(slider.slider("value"));
					}
					else {
						slider.slider("value", value);
					}
				});
				});
			</script>

			<style>
				form {
					max-width: 900px;
					display: block;
					margin: 0 auto;
				}
			</style>

			<form id="stockForm" method="POST">
				<input readonly value="BUY" name="action" style="display: none;">

				<div class="form-group" id="sharesRangeDiv">
					<p>
						<label for="sharesRange">Shares:</label>
						<input name="amount" class="text-primary" type="text" id="sharesRange"
							style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="sharesSlider"></div>
				</div>

				<a href="#" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#testModal">Buy</a>

				<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">Are you sure you want to do this action? (This
								action cannot be undone if the
								order is completed)</div>
							<div class="modal-footer">
								<a class="btn btn-secondary" href="stock.html">Cancel</a>
								<button class="btn btn-primary" type="submit">Confirm</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="sell-form">
			<script>
				$(document).ready(function () {
					$(function () {
						$("#sharesSliderS").slider({
							range: "min",
							min: {{ limits[2] }},
						max: {{ limits[3] }},
					value: {{ (limits[2] + limits[3]) / 2 - ((limits[2] + limits[3]) % 2 * 0.5) }},
					slide: function (event, ui) {
						$("#sharesRangeS").val(ui.value);
					}
						});
				$("#sharesRangeS").val($("#sharesSliderS").slider("value"));
					});

				$("#sharesRangeS").keyup(function () {
					var value = $(this).val();

					if (isNaN(value)) {
						console.log(NaN);
						$(this).val("0");
						return;
					}

					const slider = $("#sharesSliderS");
					if (value > slider.slider("option", "max")) {
						slider.slider("value", slider.slider("option", "max"));
						$(this).val(slider.slider("value"));
					}
					else if (value < slider.slider("option", "min")) {
						slider.slider("value", slider.slider("option", "min"));
						$(this).val(slider.slider("value"));
					}
					else {
						slider.slider("value", value);
					}
				});
				});
			</script>

			<style>
				form {
					max-width: 900px;
					display: block;
					margin: 0 auto;
				}
			</style>

			<form id="stockFormS" method="POST">
				<input readonly value="SELL" name="action" style="display: none;">

				<div class="form-group" id="sharesRangeDivS">
					<p>
						<label for="sharesRangeS">Shares:</label>
						<input name="amount" class="text-primary" type="text" id="sharesRangeS"
							style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="sharesSliderS"></div>
				</div>

				<a href="#" class="btn btn-outline-success btn-lg" data-toggle="modal"
					data-target="#alertModal">Sell</a>

				<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">Are you sure you want to do this action? (This
								action cannot be undone if the
								order is completed)</div>
							<div class="modal-footer">
								<a class="btn btn-secondary" href="stock.html">Cancel</a>
								<button class="btn btn-primary" type="submit">Confirm</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<!--<script src="static/js/demo/chart-area-demo.js"></script>-->

{% endblock %}